@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  user-select: none;
  border: 8px solid white;
  background-color: white;
}
